<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>

    <style>

        body{
            font-family: Arial, sans-serif;
            margin:20px;
            background:#f4f6f9;
        }

        h1{
            text-align:center;
            color:#333;
        }

        .section{
            background:white;
            padding:20px;
            margin-bottom:20px;
            border-radius:10px;
            box-shadow:0 2px 5px rgba(0,0,0,0.2);
        }

        button{
            padding:10px 15px;
            margin:5px;
            cursor:pointer;
            border:none;
            background:#007bff;
            color:white;
            border-radius:5px;
        }

        button:hover{
            background:#0056b3;
        }

        input{
            padding:8px;
            margin:5px;
        }
        select{
            padding:8px;
            margin:5px;
        }
        
        table{
            width:100%;
            border-collapse:collapse;
            margin-top:15px;
        }

        table,th,td{
            border:1px solid #ccc;
        }

        th,td{
            padding:10px;
            text-align:center;
        }

        th{
            background:#007bff;
            color:white;
        }

        .loader-container{
            width:100%;
            background:#ddd;
            border-radius:10px;
            overflow:hidden;
            display:none;
            margin-top:10px;
        }

        .loader-bar{
            width:0%;
            height:20px;
            background:green;
            text-align:center;
            color:white;
            line-height:20px;
        }

        pre{
            background:#eee;
            padding:10px;
            overflow:auto;
        }

    </style>

</head>

<body>

<h1>Employee Management System</h1>

<!-- ===================================== -->
<!-- SYSTEM OPERATIONS -->
<!-- ===================================== -->

<div class="section">

    <h2>System Operations</h2>

    <button onclick="callApi('/dbtest')">
        Database Test
    </button>

    <button onclick="callApi('/hello')">
        Hello Test
    </button>

    <button onclick="callApi('/test')">
        View All Employees
    </button>

    <button onclick="callApi('/employee-count')">
        Employee Count
    </button>

    <button onclick="callApi('/salary-stats')">
        Salary Statistics
    </button>

    <button onclick="callApi('/remove-duplicates')">
        Remove Duplicates
    </button>

    <button onclick="clearDatabase()">
        Clear Database
    </button>

    <pre id="result"></pre>

</div>


<!-- ===================================== -->
<!-- CSV UPLOAD -->
<!-- ===================================== -->

<div class="section">

    <h2>Upload Employee CSV</h2>

    <input
        type="file"
        id="fileInput"
    >

    <button onclick="uploadCSV()">
        Upload CSV
    </button>

    <div
        class="loader-container"
        id="uploadLoader"
    >

        <div
            class="loader-bar"
            id="uploadBar"
        >
            0%
        </div>

    </div>

    <pre id="uploadResult"></pre>

</div>


<!-- ===================================== -->
<!-- FETCH EMPLOYEES -->
<!-- ===================================== -->

<div class="section">

    <h2>Fetch Employees</h2>

    <input
        type="number"
        id="id"
        placeholder="Employee ID"
    >



    <input
        type="number"
        id="salaryMin"
        placeholder="Min Salary"
    >

    <input
        type="number"
        id="salaryMax"
        placeholder="Max Salary"
    >
<select id="location">

    <option value="">
        Select Location
    </option>

    <option value="Chennai">
        Chennai
    </option>

    <option value="Bangalore">
        Bangalore
    </option>

    <option value="Hyderabad">
        Hyderabad
    </option>

    <option value="Mumbai">
        Mumbai
    </option>

    <option value="Pune">
        Pune
    </option>

</select>


<select id="hike">

    <option value="">
        Select Hike
    </option>

    <option value="5">5%</option>
    <option value="10">10%</option>
    <option value="15">15%</option>
    <option value="20">20%</option>
    <option value="25">25%</option>

</select>


<select id="rating">

    <option value="">
        Select Rating
    </option>

    <option value="3.0">3.0</option>
    <option value="3.5">3.5</option>
    <option value="4.0">4.0</option>
    <option value="4.5">4.5</option>
    <option value="5.0">5.0</option>

</select>


<select id="role">

    <option value="">
        Select Role
    </option>

    <option value="Developer">
        Developer
    </option>

    <option value="QA">
        QA
    </option>

    <option value="DevOps">
        DevOps
    </option>

    <option value="Manager">
        Manager
    </option>

    <option value="Designer">
        Designer
    </option>

</select>
    <br>

    <button onclick="fetchEmployees()">
        Fetch Employees
    </button>

    <button onclick="goToAssign()">
        Go To Assign Section
    </button>

    <div
        class="loader-container"
        id="fetchLoader"
    >
        <div
            class="loader-bar"
            id="fetchBar"
        >
            Loading...
        </div>
    </div>

    <div id="employeeTable"></div>

</div>

<div class="section">

    <h2>Update Employee</h2>

    <input
        type="number"
        id="updateId"
        placeholder="Employee ID"
    >

    <input
        type="number"
        id="updateSalary"
        placeholder="New Salary"
    >

    <input
        type="number"
        id="updateHike"
        placeholder="New Hike"
    >

    <input
        type="number"
        step="0.1"
        id="updateRating"
        placeholder="New Rating"
    >

    <select id="updateLocation">

        <option value="">
            Select Location
        </option>

        <option value="Chennai">
            Chennai
        </option>

        <option value="Bangalore">
            Bangalore
        </option>

        <option value="Hyderabad">
            Hyderabad
        </option>

        <option value="Mumbai">
            Mumbai
        </option>

        <option value="Pune">
            Pune
        </option>

    </select>

    <select id="updateRole">

        <option value="">
            Select Role
        </option>

        <option value="Developer">
            Developer
        </option>

        <option value="QA">
            QA
        </option>

        <option value="DevOps">
            DevOps
        </option>

        <option value="Manager">
            Manager
        </option>

        <option value="Designer">
            Designer
        </option>

    </select>

    <br>

    <button onclick="updateEmployee()">
        Update Employee
    </button>

    <pre id="updateResult"></pre>

</div>




<!-- ===================================== -->
<!-- DELETE EMPLOYEE -->
<!-- ===================================== -->

<div class="section">

    <h2>Delete Employee</h2>

    <input
        type="number"
        id="deleteId"
        placeholder="Employee ID"
    />

    <button onclick="deleteEmployee()">
        Delete Employee
    </button>

    <pre id="deleteResult"></pre>

</div>
<!-- ===================================== -->
<!-- ASSIGN SECTION -->
<!-- ===================================== -->

<div
    class="section"
    id="assignSection"
>

    <h2>Assign Employees</h2>

    <button onclick="assignEmployees()">
        Assign Project
    </button>

    <pre id="assignResult"></pre>

</div>



<script>

let fetchedEmployees = [];

async function callApi(url){

    try{

        const response =
            await fetch(url);

        const contentType =
            response.headers.get(
                "content-type"
            );

        let data;

        if(
            contentType &&
            contentType.includes(
                "application/json"
            )
        ){

            data =
                await response.json();

            document.getElementById(
                "result"
            ).innerText =
                JSON.stringify(
                    data,
                    null,
                    2
                );
        }
        else{

            data =
                await response.text();

            document.getElementById(
                "result"
            ).innerText = data;
        }

    }
    catch(error){

        console.error(error);

        document.getElementById(
            "result"
        ).innerText =
            "Request Failed";
    }
}


async function clearDatabase(){

    if(
        !confirm(
            "Clear entire database?"
        )
    ){
        return;
    }

    const response =
        await fetch(
            "/clear-database"
        );

    const data =
        await response.json();

    alert(data.message);
}


async function uploadCSV(){

    const file =
        document.getElementById(
            "fileInput"
        ).files[0];

    if(!file){

        alert(
            "Choose file first"
        );

        return;
    }

    let formData =
        new FormData();

    formData.append(
        "file",
        file
    );

    let bar =
        document.getElementById(
            "uploadBar"
        );

    document.getElementById(
        "uploadLoader"
    ).style.display =
        "block";

    let percent = 0;

    let interval =
        setInterval(() => {

        percent += 10;

        bar.style.width =
            percent + "%";

        bar.innerText =
            percent + "%";

        if(percent >= 100){

            clearInterval(
                interval
            );
        }

    },200);

    const response =
        await fetch(
            "/upload-csv",
            {
                method:"POST",
                body:formData
            }
        );

    const data =
        await response.json();

    document.getElementById(
        "uploadResult"
    ).innerText =
        JSON.stringify(
            data,
            null,
            2
        );
}


async function updateEmployee(){

    const empId =
        document.getElementById(
            "updateId"
        ).value;

    if(!empId){

        alert(
            "Enter Employee ID"
        );

        return;
    }

    let payload = {};

    const salary =
        document.getElementById(
            "updateSalary"
        ).value;

    const hike =
        document.getElementById(
            "updateHike"
        ).value;

    const rating =
        document.getElementById(
            "updateRating"
        ).value;

    const location =
        document.getElementById(
            "updateLocation"
        ).value;

    const role =
        document.getElementById(
            "updateRole"
        ).value;

    if(salary)
        payload.present_salary =
            parseInt(salary);

    if(hike)
        payload.expected_hike =
            parseInt(hike);

    if(rating)
        payload.performance_rating =
            parseFloat(rating);

    if(location)
        payload.work_location =
            location;

    if(role)
        payload.role =
            role;

    const response =
        await fetch(
            "/employee/" + empId,
            {
                method: "PUT",

                headers: {
                    "Content-Type":
                    "application/json"
                },

                body: JSON.stringify(
                    payload
                )
            }
        );

    const result =
        await response.json();

    document.getElementById(
        "updateResult"
    ).innerText =
        JSON.stringify(
            result,
            null,
            2
        );
}



async function fetchEmployees(){

    document.getElementById(
        "fetchLoader"
    ).style.display =
        "block";

    let params =
        new URLSearchParams();

    const empId =
        document.getElementById(
            "id"
        ).value;

    const locationValue =
        document.getElementById(
            "location"
        ).value;

    const salaryMinValue =
        document.getElementById(
            "salaryMin"
        ).value;

    const salaryMaxValue =
        document.getElementById(
            "salaryMax"
        ).value;

    const hikeValue =
        document.getElementById(
            "hike"
        ).value;

    const ratingValue =
        document.getElementById(
            "rating"
        ).value;

    const roleValue =
        document.getElementById(
            "role"
        ).value;

    if(empId){

        params.append(
            "id",
            empId
        );
    }

    if(locationValue){

        params.append(
            "work_location",
            locationValue
        );
    }

    if(salaryMinValue){

        params.append(
            "salary_min",
            salaryMinValue
        );
    }

    if(salaryMaxValue){

        params.append(
            "salary_max",
            salaryMaxValue
        );
    }

    if(hikeValue){

        params.append(
            "expected_hike",
            hikeValue
        );
    }

    if(ratingValue){

        params.append(
            "performance_rating",
            ratingValue
        );
    }

    if(roleValue){

        params.append(
            "role",
            roleValue
        );
    }

    console.log(
        "FETCH URL:",
        "/fetch?" +
        params.toString()
    );

    try{

        const response =
            await fetch(
                "/fetch?" +
                params.toString()
            );

        fetchedEmployees =
            await response.json();

        createTable(
            fetchedEmployees
        );
    }
    catch(error){

        console.error(error);

        alert(
            "Fetch Failed"
        );
    }

    document.getElementById(
        "fetchLoader"
    ).style.display =
        "none";
}


function createTable(data){

    if(data.length===0){

        document.getElementById(
            "employeeTable"
        ).innerHTML =
            "<h3>No Employees Found</h3>";

        return;
    }

    let html =
        "<table>";

    html += `
    <tr>
    <th>ID</th>
    <th>Location</th>
    <th>Salary</th>
    <th>Hike</th>
    <th>Rating</th>
    <th>Role</th>
    </tr>
    `;

    data.forEach(emp=>{

        html += `
        <tr>
        <td>${emp.id}</td>
        <td>${emp.work_location}</td>
        <td>${emp.present_salary}</td>
        <td>${emp.expected_hike}</td>
        <td>${emp.performance_rating}</td>
        <td>${emp.role}</td>
        </tr>
        `;
    });

    html += "</table>";

    document.getElementById(
        "employeeTable"
    ).innerHTML = html;
}


function goToAssign(){

    document
    .getElementById(
        "assignSection"
    )
    .scrollIntoView({
        behavior:"smooth"
    });
}



function assignEmployees(){

    const assignedEmployees =
        fetchedEmployees.map(emp=>{

            let project="";
            let team="";

            if(emp.performance_rating>=4.5)
                project=
                "Project Platinum";

            else if(
                emp.performance_rating>=4
            )
                project=
                "Project Gold";

            else
                project=
                "Project Silver";

            if(
                emp.role.toLowerCase()
                ==="developer"
            )
                team=
                "Backend Team";

            else if(
                emp.role.toLowerCase()
                ==="qa"
            )
                team=
                "Testing Team";

            else if(
                emp.role.toLowerCase()
                ==="designer"
            )
                team=
                "UI/UX Team";

            else if(
                emp.role.toLowerCase()
                ==="devops"
            )
                team=
                "Infrastructure Team";

            else if(
                emp.role.toLowerCase()
                ==="manager"
            )
                team=
                "Management Team";

            else
                team=
                "Support Team";

            return {

                ...emp,

                assigned_project:
                    project,

                assigned_team:
                    team
            };
        });

    document.getElementById(
        "assignResult"
    ).innerText =
        JSON.stringify(
            {
                selected_count:
                    assignedEmployees.length,

                employees:
                    assignedEmployees
            },
            null,
            2
        );
}


async function deleteEmployee(){

    const empId =
        document.getElementById(
            "deleteId"
        ).value;

    if(!empId){

        alert(
            "Enter Employee ID"
        );

        return;
    }

    const response =
        await fetch(
            "/employee/" + empId,
            {
                method:"DELETE"
            }
        );

    const result =
        await response.json();

    document.getElementById(
        "deleteResult"
    ).innerText =
        JSON.stringify(
            result,
            null,
            2
        );
}

</script>

</body>
</html>